nav {
	/*    border-top: 5px solid #01354e;*/
	-moz-box-shadow: 0 2px 3px 0 rgb(0, 0, 0, .75);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .75);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .75);
	z-index: 9;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	margin-top: -33px;
	margin-left: -7px;
	margin-right: -7px;
}

.pagetitleclass {
	position: absolute;
	font-size: 35px;
	vertical-align: text-top;
	margin-left: 25px;
	/*	z-index: -2;*/
}

nav ul {
	margin: 0;
	border-top: 1px solid rgba(1, 53, 78, 0.32);
	padding: 0;
}

nav ul li {
	display: inline-flex;
	text-align: center;
	margin-right: -4px;
}

nav li a {
	/*            padding: 0px 50px 10px 50px;*/
	/*            padding-top: -10px;*/

	font-size: 15px;
	display: block;
	min-width: 170px;
	border-left: 1px solid rgba(1, 53, 78, 0.32);
	text-decoration: none;
}

/*
nav li:first-child a {
    border-left: 0;
}
*/

nav li a:hover {
	background-color: whitesmoke;
}

nav li a:focus {
	color: pink;
}

.focus {
	color: red;
}

/*Button Styling*/

#navbutton {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
}

nav button {
	padding-top: 30px;
	font-size: 22px;
	padding-bottom: 10px;
}

.navbuttons {
	background-color: rgb(255, 255, 255);
	border: 1px solid #bebebe;
	color: black;
	font-size: 10px;
	margin: 5px 0 5px 0;
	/*	padding: 0;*/
	/*	z-index: 50;*/
	font-weight: bold;
	font-style: ;
	float: left;
	box-shadow: 0px 0.5px 0.5px 0.5px #3b3b3b;
}

.navbuttons2 {
	/*	height: 15px;*/
	/*	float: none;*/
	/*	clear: right;*/
	margin: 0;
}

.navbuttons:active {
	background-color: beige;
	box-shadow: 0;
}

.navbuttons:not(#tablemenu #tablemenuX) {
	min-width: 100px;
}

.navbuttons:not(#mybutton) {
	max-width: 100px;
	height: 15px;
	overflow: hidden;
}

#showall,
#summary {
	display: none;
}

.one-eventpertime-nav-top {
	margin-left: 10px;
	float: right;
}

.one-eventpertime-nav-bottom {
	display: none;
}

/*FOR ANDROID PHONES*/
@media only screen and (max-device-width : 768px) {

	nav {
		width: 101.5%;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		/*		flex-direction: column;*/

		/*		min-height: 50vh;*/
		border-top: 1px solid rgba(1, 53, 78, 0.32);

	}

	nav ul li {
		font-size: 50px;
		flex-grow: 1;
		flex-basis: 25%;
		text-align: left;
		border-bottom: 1px solid pink;
	}


	/*ANDROID BUTTONS STYLING*/
	nav button {
		font-size: 50px;
		padding: 18px 200px 0px 200px;
		margin-left: -27px;
	}

	.navbuttons {
		min-height: 100px;
		min-width: 20%;
		font-size: 25px;
		border: 2px solid black;
	}

	.navbuttons2 {
		min-height: 60px;
		min-width: 20%;
		font-size: 25px;
		/*		float: none;*/
	}

	#tablemenuDIV > ol {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	#tablemenuDIV > ol > li {
		display: inline-flex;
		flex-grow: 1;
		flex-basis: 25%;
	}

	.one-eventpertime-nav-top {
		display: none;
	}

	.one-eventpertime-nav-bottom {
		display: flex;
		justify-content: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		/*		background-color: palevioletred;*/
	}
}

/*FOR IPAD*/
@media only screen and (max-device-width : 1024px) {
	nav {
		width: 101.5%;
	}

	nav ul {
		margin: 0;

		border-top: 1px solid rgba(1, 53, 78, 0.32);
		padding: 0;
	}

	nav ul li {}

	nav ul li a {
		font-size: 25px;
		min-width: 100px;
		margin: 10px;
		padding: 10px;
	}

	/*IPAD BUTTONS STYLING*/
	nav button {
		font-size: 50px;
		padding: 18px 480px 0px 480px;
	}

	#mybutton {
		background-color: rgba(255, 255, 255, 0);
		border: 0px dotted white;
		color: black;
		font-size: 30px;
		margin: 0;
		padding-bottom: 10px;
		z-index: 50;
		font-weight: bold;
		font-style: oblique;
	}

}
