div.timelineTableContainer {
    overflow: auto;
    margin-top: 3px;
}

.timelineTable {
    width: 100%;
    min-height: 50vh;
}

tr:first-child, th {
    background-color: #ddc474;
}
    tr:nth-child(even) {
    background-color:#fffb9f;
}

tr{
    background-color: beige
}

table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: hide;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    min-width: 100px;
/*    min-height: 50px;*/
    border-left: 5px solid #b1b1b1;
    text-align: center;
}

tr td:last-child,
tr th:last-child {
    border-right: 5px solid #b1b1b1;
}

tr td:first-child,
tr th:first-child {
    min-width: 5px;
    background-color: ;
    text-align: center;
}

tr td:first-child:hover,
tr th:first-child:hover {
    background-color: #e0ffeb;
}

tr th:first-child {
    font-size: 20px;
    background-color: lemonchiffon;
    text-align: center;
    width: 10px;
}

tr {
/*    height: 50px;*/
    font-size: 25px;
}

tr:hover {
    background-color: #e0ffeb;
}

th:hover,
td:hover {
    background-color: yellow;
    /*    background-color: #91fcb7;*/
}

td:empty {
    background-color: black;
}

th {
    font-size: 30px;
}

.highlight {
    background-color: yellow;
}



/*Button Styling*/
#mybutton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

#mybutton:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

#mybutton:active {
    position: relative;
    top: 1px;
}

.format,
a {
    color: #480000;
    font-size: .6em;
}
div.timelineTableContainer {
    overflow: auto;
    margin-top: 3px;
}

.timelineTable {
    width: 100%;
    min-height: 50vh;
}

tr:first-child, th {
    background-color: #ddc474;
}
    tr:nth-child(even) {
    background-color:#fffb9f;
}

tr{
    background-color: beige
}

table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: hide;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    min-width: 100px;
/*    min-height: 50px;*/
    border-left: 5px solid #b1b1b1;
    text-align: center;
}

tr td:last-child,
tr th:last-child {
    border-right: 5px solid #b1b1b1;
}

tr td:first-child,
tr th:first-child {
    min-width: 5px;
    background-color: ;
    text-align: center;
}

tr td:first-child:hover,
tr th:first-child:hover {
    background-color: #e0ffeb;
}

tr th:first-child {
    font-size: 20px;
    background-color: lemonchiffon;
    text-align: center;
    width: 10px;
}

tr {
/*    height: 50px;*/
    font-size: 25px;
}

tr:hover {
    background-color: #e0ffeb;
}

th:hover,
td:hover {
    background-color: yellow;
    /*    background-color: #91fcb7;*/
}

td:empty {
    background-color: black;
}

th {
    font-size: 30px;
}

.highlight {
    background-color: yellow;
}



/*Button Styling*/
#mybutton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

#mybutton:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

#mybutton:active {
    position: relative;
    top: 1px;
}

.format,
a {
    color: #480000;
    font-size: .6em;
}
